<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>


    <!--Conexion Principal local-->

    <add key="Aplication" value=" [SPCSystem] "/>
    <add key="DataSource" value="EALVAREZ\SQLEXPRESS"/>
    <add key="DataBase" value="SPCSystem"/>
    <add key="User" value="cwBhAA=="/>
    <add key="Password" value="QQBkAG0AaQBuAFMAcQBsACQA"/>
    <add key="AdjuntosLocal" value=""/>  


  </appSettings>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IConsultaCFDIService">
          <security mode="Transport"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://consultaqr.facturaelectronica.sat.gob.mx/ConsultaCFDIService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IConsultaCFDIService" contract="ServiceReference1.IConsultaCFDIService" name="BasicHttpBinding_IConsultaCFDIService"/>
    </client>
  </system.serviceModel>
  
</configuration>
